* {
  box-sizing: border-box;
}
.navbar{
	border-radius: 0px;
	padding:15px;
	background-color:red;
/*	background: linear-gradient(to right,purple,cyan);	*/
}
.navbar-default .navbar-brand {
	font-size: 2em;
	color: white;
	background: none;
	padding-left: 30px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  text-decoration: none;
	color:yellow;

}
.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}
.navbar-default .navbar-toggle hover{
 background-color: white;
}
.navbar-default .navbar-toggle {
    border-color: purple;
    background-color: transparent;
}
.navbar-default .navbar-toggle:focus ,.navbar-default .navbar-toggle:hover{
    border-color: #FFF;
    background: none;
}
button.navbar-toggle-collapsed{
	background-color: transparent;
	border-color: #000;
}
.row{
	width: 100%;
	padding: 0;

}

.col-md-4 > .cont,.col-sm-6 > .cont,.col-sm-12 > .cont{
 /* background: linear-gradient(to left,purple,green); */
 	background-color:red;
	color: white;
	padding: 20px;
	margin: 20px 20px 10px 10px;
}

p{
	font-size: 18px;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
 
}
.navbar-default .navbar-nav>li>a {
    color: white;
    text-align: center;
}

@media (max-width:768px){
	.row{
	width: 100%;
	min-width: 400px;
	 
}
.col-md-4 > .cont,.col-sm-6 > .cont,.col-sm-12 > .cont{
/*  background: linear-gradient(to left,purple,magenta);   */
	background-color:red;
	color: white;
	padding: 20px;
	margin-left: 40px;

}
}